body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    color: #805F7D;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #805F7D;
    font-size: 2em;
}

h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: darkgrey;
    font-size: 1.5;


}

h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 0.8em;
    color: darkgrey;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    color: #3E343D;
    text-align:center;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    color: #3E343D;
    text-align: justify;
/*
    padding-left: 4vw;
    padding-right: 4vw;
*/

}

p::first-letter {
    color: #C6A8C5;
    font-size: 200%;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    color: #3E343D;
    font-weight: 700;
    text-decoration: none;

}

/*
b {
    font-size: 2em;
    color: #3E343D;
}
*/


/****************** HEADER ************************/

#header {

}

/****************** CV ****************************/

#cv {
    text-align: justify;
    margin: 10vw;
}


#person_container {
    flex-basis: 200px;
    justify-content: center;
}

#person_indhold {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person {
    align-self: center;
    width: 20vw;
    height: 20vw;
    background-color: transparent;
    border-radius: 30%;
    flex-grow: 2;
    overflow: hidden;

}
.person img {
    width: 20vw;
    height: 20vw;
    align-self: center;
    border-bottom-style: solid;
    border-color: black;
}

/*
.mySlides {
    display:none;
}
*/


/****************** 1. Semester **************************/

#semester {
    background-color: #FCE6FB;
    padding-top: 1vw;
    padding-bottom: 5vw;
    text-align: center;
}

#semester .sectionwrapper {
    padding: 3vw;
    display: flex;
    flex-wrap: wrap;

}

#semester .column {
    flex-grow: 4;
    flex-basis: 200px;
    border-style: double;
    border-color: #805F7D;
    width: 0px;
    padding: 10px;
    margin: 1px;
    text-align: center;
}

#semester .column img {
    width: 80%;
}

#semester .column_content {
    height: 10%;
/*
    display: flex;
    flex-wrap: wrap;
*/
    text-align: center;
}


#semester .top {
    align-self: flex-start;
}

#semester .bottom {
    align-self: flex-start;
}

#semester img {
/*    align-self: flex-start;*/
    border-radius: 5%;
    filter: opacity(80%)
}

/**************** DOKUMENTATION ***************/

#programmer {
    background-color: white;
    padding-top: 1vw;
    padding-bottom: 5vw;
    text-align: center;
}

#programmer .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

#programmer .column {
    flex-grow: 1;
    flex-basis: 100px;
    border-color: #805F7D;
    width: 0px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#programmer .column img {
    width: 5%;
}

#programmer .column_content {
    height: 100%;
    text-align: center;
}

#programmer img {
    border-radius: 5%;
}

#programmer p {
    text-align: center;
}



/********************* STILART HTML ***************************/

#html {
    padding: 20px;
    background-color: #FCE6FB;
    padding-top: 1vw;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5vw;
    text-align: center;
}


.stilart_tekst {
    height: auto;
    flex-grow: 1;
    flex-basis: 500px;
    padding: 10px;
}

.stilart_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    border-color: #3E343D;
    padding-bottom: 4%;
    display: flex;
}


.stilart_billeder_container img {
    height: auto;
    width: 70%;
    padding: 5px;
    justify-content: space-between;
    border-style: double;
}

/******************** VIDEO *******************/
#video {
    padding: 10px;
    background-color: #FCE6FB;
    padding-top: 1vw;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5vw;
    text-align: center;
}
.video_billeder_container img {
    height: auto;
    width: 50%;
    padding: 10px;
    justify-content: center;
    border-style: double;
}

/*

.video_tekst {
    height: auto;
    flex-grow: 1;
    flex-basis: 500px;
    padding: 10px;
}
*/

.video_container {
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    border-color: #3E343D;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#video h2{
    text-align: center;
    margin: 5vw;
}

#video p {
    padding-left: 14%;
    padding-right: 14%;
}

/******************* HOME KNAP *****************/

/*
.home {
    padding: 5px;
    background-color: #FCE6FB;
    padding-top: 0.2vw;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.2vw;
}

.home img {
    width: 25%;
}

.home text {
    font-family: 'Roberto' sans-serif;
    font-size: 0.5em;
}
*/

/****************** BILLEDE SLIDE *****************/

/*
<img class="slide" src="img/Mia.jpg">
<img class="slide" src="img/mia_2.jpg">
<img class="slide" src="img/mia_3.jpg">
*/

/****************** ANIMATION **********************/

#animation {
    width: 100vw;
    background-color: #3E343D;
    padding-top: 1vw;
    padding-bottom: 5vw;
    text-align: center;
    color: #E9ECED;

}

#animation img {
    width: auto;
    height: 25vw;
    padding: 20px;

}

#animation p {
    text-align: justify;
    color: #F7D0F4;
    padding-left: 10vw;
    padding-right: 10vw;
}

#animation .sectionwrapper {
    padding: 0vw;
    display: flex;
    flex-wrap: wrap;

}

#animation .column {
    flex-grow: 2;
    flex-basis: 200px;
    border-style: double;
    border-color: #805F7D;
    width: 0px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.animation_container {
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    border-color: #C6A8C5;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#animation .column_content {
    height: 10%;
    text-align: center;
}

#animation .top {
    align-self: flex-start;
}

#animation .bottom {
    align-self: flex-start;
}

/***************** UX ************************/

#ux {
    width: 100vw;
    background-color: #3E343D;
    padding-top: 1vw;
    padding-bottom: 5vw;
    text-align: center;

}

.ux_container {
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    border-color: #C6A8C5;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#ux p {
    text-align: justify;
    color: #F7D0F4;
    padding-left: 10vw;
    padding-right: 10vw;
}

/*https://www.w3schools.com/cssref/css3_pr_filter.asp*/
#ux img {
    width: 20vw;
    height: 20vw;
    align-self: center;
    filter: grayscale(0%);
    margin: 2%

}



/****************** BURGER MENU *******************/

/*https://stackoverflow.com/questions/45514582/hamburger-menu-fixed-on-bottom-right-bootstrap*/

#menu a {
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
    display: block;
    vertical-align: middle;
    transition: color 0.3s ease;
    font-size: 0.1em;
}

#menu a:hover {
    color: #D57778;
    font-size: 0.1em;
}

#menuToggle {
    display: block;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 20px;
    left: 20px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
    background-color: #805F7D;
    border-radius: 50%;
}

#menuToggle input {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-left: 8px;
    margin-bottom: 5px;
    position: relative;

    background: white;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

.first {
    margin-top: 14px;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #282f43;
}


#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


#menu {
    position: fixed;
    width: 300px;
    height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}


#menuToggle input:checked ~ ul {
    transform: none;
}

/******************* FOOTER ********************/

footer {
    font-family: 'Open Sans', sans-serif;
    background-color:grey;
    color: #e9eced;
    text-align: center;

    padding: 10px;
}

footer p {
    font-style: none;
}
