body {
    margin: 0;
    padding: 0;
}

#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
    overflow: hidden;

}
/*
#titel {
    position: absolute;
    z-index: 25;
    background-image: url(img/graa_boks-01.svg);
    background-size: 100% 100%;
    width: 84vw;
    height: 50vw;
}
*/
.titel_ind {
    animation-name: titel_ind_kf;
    animation-duration: 2.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes titel_ind_kf {
    0% {
        left: 8%;
        top: -100%;
    }

    30% {
        left: 8%;
        top: 9%;
    }

    65% {
        left: 8%;
        top: 5%;
    }


    100% {
        left: 8%;
        top: 5%;
    }

}



/*
.btn_start {
    position: absolute;
    background-color: dimgrey;
    font-family: 'roboto', sans-serif;
    font-size: 8vw;
    font-weight: 700;
    border-radius: 10px;
    width: 30vw;
    height: 12vw;
    left: 32%;
    border: 2vw black;
    font-size: 8vw;
    z-index: 50;
    top: 35%;
    color: white;
    line-height: 1.5;
    transition: all 0.4s ease;
}

.btn_start:hover {
    cursor: pointer;
    transform: scale(1.1);
}
*/


/********************** MUS KOMMER IND **********************/

#mus_container {
    position: absolute;
    z-index: 3;
}

.mus_move_right {
animation-name: mus_move_right_kf;
animation-duration: 8s;
animation-iteration-count: 1;
animation-timing-function: linear;
animation-fill-mode: both;
background-repeat: no-repeat;
}

@keyframes mus_move_right_kf {
 from {
left: -5%;
}
to {
left: 19%;
 }
}

.mus_start_pos {
    top: 50%;
    left: -60%;
}


#mus_sprite {
    background-image: url(Mus_sprite_final-01.svg);
    background-size: 800% 400%;
    width: 10vw;
    height: 15vw;
    position: absolute;
    top: 39vw;
}

.mus_walkcycle {
    animation-name: mus_walkcycle_kf;
    animation-duration: 1s;
    animation-iteration-count: 8;
    animation-timing-function: steps(8);
    animation-direction: reverse;
    animation-fill-mode: both;
}

@keyframes mus_walkcycle_kf {
0% {
background-position: 0% -99%;
}
100% {
background-position: -800% -100%;
 }
}

/********************* MUS KIGGER ********************/

.mus_kigger {
    left: 19%;
    background-position: 0 -200%;

}

/*************** MUS BLIVER SUR/KASTER NØD ***********/


.mus_walkcycle_2 {
    animation-name: mus_walkcycle_2_kf;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-timing-function: steps(3);
    animation-direction: reverse;
    animation-fill-mode: both;
}

@keyframes mus_walkcycle_2_kf {
0% {
background-position: 0% -200%;
}
100% {
background-position: -300% -200%;
 }
}


#nut_container {
    width: 6%;
    height: 6%;
    top: 50vw;
    left: 23.5vw;

    background-image: url(img/Nut-01.svg);
    background-size: 100%;

    position: absolute;
    z-index: 6;
}

.nut_flyver {
    animation-name: nut_flyver_kf;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes nut_flyver_kf {
    from {
        top: 50vw;
        left: 23.5vw;
        transform: rotate(0deg);

    }
    to {
        top: 32vw;
        left: 30vw;
        transform: rotate(360deg);

    }
}

/* --------------------- UGLE ----------------- */

#ugle_container {
    position: absolute;
    z-index: 5;
    top: 29vw;
    left: 29vw;

}

.ugle_taler {
    animation-name: ugle_taler_kf;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: both;
    background-repeat: no-repeat;
    }

@keyframes ugle_taler_kf {
 from {
left: 29vw;
}
to {
left: 29vw;
 }
}

#ugle_sprite {
    background-image: url(Ugle_stor_sprite_2-01.svg);
    background-size: 600% 300%;
    width: 9vw;
    height: 15vw;
    position: absolute;

}

.ugle_walkcycle {
    animation-name: ugle_walkcycle_kf;
    animation-duration: 2s;
    animation-iteration-count: 6;
    animation-timing-function: steps(6);

}

@keyframes ugle_walkcycle_kf {
0% {
background-position: 0% -100%;
}
100% {
background-position: -600% -100%;
 }
}


/********************* UGLE FALDER ***************/

.ugle_walkcycle_2 {
    animation-name: ugle_walkcycle_2_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: steps(2);
    animation-fill-mode: forwards;
}

@keyframes ugle_walkcycle_2_kf {
0% {
background-position: 0% -200%;
}
100% {
background-position: -200% -200%;
}
}

.ugle_falder_ned {
    animation-name: ugle_falder_ned_kf;
    animation-duration: 3s;
    animation-iteration-count: 3;
    animation-timing-function: linear;
    animation-fill-mode: both;
    background-repeat: no-repeat;
    }

@keyframes ugle_falder_ned {
 from {
        top: 29vw;
        left: 29vw;
    }
    to {
        top: 41vw;
        left: 30vw;
    }
}



/********************** MUS DISKO ***********************/


.mus_move_right_2 {
animation-name: mus_move_right_2_kf;
animation-duration: 8s;
animation-iteration-count: 1;
animation-timing-function: linear;
animation-fill-mode: both;
background-repeat: no-repeat;
}

@keyframes mus_move_right_2 {
 from {
left: 19%;
}
to {
left: 90%;
 }
}

.mus_walkcycle_3 {
    animation-name: mus_walkcycle_3_kf;
    animation-duration: 1s;
    animation-iteration-count: 8;
    animation-timing-function: steps(8);
    animation-direction: reverse;
    animation-fill-mode: both;
}

@keyframes mus_walkcycle_3 {
0% {
background-position: 0% -99%;
}
100% {
background-position: -800% -100%;
 }
}







/********************* SOL ***************************/


#sol {
    width: 50%;
    height: 50%;

    background-image: url(img/sol.png);
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    height: 50.3vw;
    top: -10vw;
    left: -9vw;

    /*transform: scale(.5)
    transition: transform 5s;*/

    animation-name: sol_kf;
    animation-duration: 120s;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;

    animation-iteration-count: infinite;
    /*animation-timing-function: cubic-bezier(.17,.67,.83,.67);*/
    z-index: 3;
}

#baggrund {
    width: 100%;
    height: 100%;

    background-image: url(img/Baggrund.png);
    background-size: 100%;

    position: absolute;
}

#mellemgrund {
    width: 100%;
    height: 100%;

    background-image: url(img/Mellemgrund-01-01.png);
    background-size: 100%;

    position: absolute;
}




#forgrund {
    width: 100%;
    height: 100%;

    background-image: url(img/forgrund-01.png);
    background-size: 100%;

    position: absolute;
    z-index: 3;
}

@keyframes sol_kf {

    0% {
        transform-origin: center;
    }

    100% {
        transform: rotate(1000deg);
    }

}


/*@keyframes sprite_loop {

     0% {
        transform: translateX(-20vw);
            background-position: 0%;
    }
    100% {
        transform: translateX(5vw);
        background-position: -800%;
    }
}
*/


/********************** NOTER ******************************


/* Mus_sprite er til musens bevægelser. Container er til placering. Walkcycle er bevægelse.

******************** FJERNET KODNING **************************/


/*.mus_walkcycle {

}*/


/*#mus {

    background-image: url(img/mus_gaa_02.svg);
    background-size: 100%;
    position: absolute;
    width: 4vw;
    height: 6vw;
    top: 45vw;
    left: 20vw;
    background-repeat: no-repeat;
    transform: translateX(0px);
    transform-origin: -20vw 5vw;

    animation-name: sprite_loop;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#ugle {

    background-image:url(img/Ugle_sprite-01.svg);
    background-size: 100%;
    position: absolute;
    width: 45vw;
    height: 12vw;
    top: 31vw;
    left: 30vw;
    background-repeat: no-repeat;
    z-index: 4;
}







*/


